/* Keyframe for fade-in */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Keyframe for fade-out */
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}

/* Keyframe for fade-in */
@keyframes goExpand {
  0% {
    background: transparent;
  }
  100% {
    background-color: white;
  }
}

/* Apply animations */
.showDetails {
  animation: fadeIn 200ms ease-in-out forwards;
  display: flex;
}

.hideDetails {
  animation: fadeOut 200ms ease-in-out forwards;
  display: none;
}

.landlord-expand {
  animation: goExpand 500ms ease-in-out forwards;
}
