@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f5f9;
  --foreground: #171717;
  --primary: #2450a6;
  --secondary: #30cff2;
  --tertiary: #2c4373;
  --faded: #ebebeb;
  --font-primary: "Inter", "Inter Fallback";
}

/* SCROLLBAR SETTINGS */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/* background of the scrollbar */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

/* scrollbar hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

* {
  font-family: var(--font-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  min-height: 100vh;
  overflow-x: hidden;
}
