@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f5f9;
  --foreground: #171717;
  --primary: #2450a6;
  --secondary: #30cff2;
  --tertiary: #2c4373;
  --faded: #ebebeb;
  --font-primary: "Inter", "Inter Fallback";
}

* {
  font-family: var(--font-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  min-height: 100vh;
}
